<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{globals.baseurl}}css/main.css" />
<link rel="stylesheet" href="{{globals.baseurl}}css/highlight.css" />

<link rel="apple-touch-icon" sizes="57x57" href="{{globals.baseurl}}img/favicon/apple-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="{{globals.baseurl}}img/favicon/apple-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="{{globals.baseurl}}img/favicon/apple-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="{{globals.baseurl}}img/favicon/apple-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="{{globals.baseurl}}img/favicon/apple-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="{{globals.baseurl}}img/favicon/apple-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="{{globals.baseurl}}img/favicon/apple-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="{{globals.baseurl}}img/favicon/apple-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{globals.baseurl}}img/favicon/apple-icon-180x180.png"/>
<link rel="icon" type="image/png" sizes="192x192"  href="{{globals.baseurl}}img/favicon/android-icon-192x192.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{globals.baseurl}}img/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="96x96" href="{{globals.baseurl}}img/favicon/favicon-96x96.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="{{globals.baseurl}}img/favicon/favicon-16x16.png"/>
<link rel="manifest" href="{{globals.baseurl}}img/favicon/manifest.json"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="{{globals.baseurl}}img/favicon/ms-icon-144x144.png"/>
<meta name="theme-color" content="#ffffff"/>

<meta name="google-site-verification" content="87hRZ0BGjo1L9y0rUZBc7KQsCQwdAshnWTiTi8qhPq4" />

<meta property="fb:app_id" content="853001808068960" />
<meta property="og:site_name" content="Picanha Labs"/>